<div class="container">
  <button class="btn btn-secondary" mt-3 routerLink="add">Thêm sách mới</button>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Danh sách đọc</th>
    <th scope="col">Đánh dấu</th>
    <th scope="col">Sưả tên sách</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books;">
    <td>{{book.name}}</td>
    <td>
      <button type="button" class="btn btn-success">Đã đọc</button>
    </td>
    <td>
      <button type="button" class="btn btn-light">Update</button>
    </td>
  </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" RouterLink="unread">Danh sách đã đọc</button>
<button type="button" class="btn btn-primary" RouterLink="">Danh sách đọc</button>


